body.gradient-bg {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 50px;
}
